@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.maxwidth {
  width:260px; /* 16rem = 256px = w-64 */
}

.minwidth {
  width:60px; /* 16rem = 256px = w-64 */
}
.navmaxwidth
{
  width: calc(1200pc-60px);
}
.navminwidth
{
  width: calc(1200pc-260px);
}

@layer utilities {
  .w-fill-available {
    width: -webkit-fill-available;
    width: -moz-available; /* for Firefox */
    width: fill-available;
  }
}